/*Banner Image and Site Description--->*/

#imageBannerHome {
  width: 100%;
}

#imageBannerTitle {
  color: #fff;
  height: 400px;
  background: url('../images/austin.jpeg') center / cover;
}

#homePageText {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  line-height: 120%;
  text-shadow: 2px 2px 0px #000;
  width: 70%;
  text-align: center;
  color: white;
}

#secondaryPageText {
  margin-left: 25px;
  font-size: 50px;
  line-height: 120%;
  color: white;
  background-color: #cc5500;
  width: 300px;
  border-radius: 20px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

#homepagetext {
  text-align: center;
  font-weight: bolder;
}

#categoryHome {
  background-color: lightgrey;
}

.categoryBoxes {
  width: 300px;
  border-color: lightgrey;
  border-width: thin;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 176px;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}

.submitYourOwn {
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 75%
}

#submitText {
  text-align: center;
  margin-left: 50px;
  font-size: 30px;
  line-height: 200%;
  color: darkgrey;
  font-weight: 900;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  color: #cc5500;
}

#sumbmitYourOwnButton {
  background-color: #cc5500;
  color: white;
  width: 80%
}

#shareImage {
  background: url('../images/oldaustin.jpg') center / cover;
}

#segmentBox {
  margin-left: 30px;
  width: 100%
}

#homeGraffCard {
  background: url('../images/frog.jpg') center / cover;
  text-shadow: 1.5px 1.5px 0px #000;
  font-weight: bold;
}

#homeMediaCard {
  background: url('../images/austin.jpeg') center / cover;
  text-shadow: 1.5px 1.5px 0px #000;
  font-weight: bold;
}

#homeOddCard {
  background: url('../images/roller.jpeg') center / cover;
  text-shadow: 1.5px 1.5px 0px #000;
  font-weight: bold;
}

#categoryBreak {
  text-align: center;
  font-size: 25px;
  color: grey;
  font-weight: bold;
  height: 50px;
  margin-top: 50px;

}

#categoryBreak2 {
  text-align: center;
  font-size: 12px;
  color: grey;
  font-weight: bold;
  height: 50px;
  margin-top: 50px;

}

#categoryCardsGrid {}

.categoryCards {
  margin: 25px;
  width: 275px;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
}

.categoryCards .mdl-card__title-text {
  font-weight: bold;
  background-color: #cc5500;
  width: 100%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}


}
.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide>.mdl-card__menu {
  color: #fff;
}
#foodanddrinkimage {
  background: url('../images/marg.jpeg') center / cover;
}
#artimage {
  background: url('../images/art.jpeg') center / cover;
}
#activitiesimage {
  background: url('../images/chicken.jpg') center / cover;
}
.mdl-mini-footer__link-list {
  margin-top: 30px;
}
.mdl-mini-footer {
  height: 30px;
  background-color: #607d8b;
}
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../images/tree.jpg') center / cover;
}
.demo-card-image>.mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
#PicsImageCard {
  background: url('../images/bum.png') center / cover;
}
#NewestImageCard {
  background: url('../images/doughnut.jpeg') center / cover;
}
#HighestRatedImageCard {
  background: url('../images/butter.jpg') center / cover;
}
#imageBox {
  background-color: lightgrey;
}

.imageCards22 {
  margin-left: auto;
  margin-right: auto;
}
#imageButton {
  color: white;
  text-shadow: 1px 1px 0px #000;
}
.sortbuttons {
  margin-left: 300px;
}
.sortButton {
  background-color: #cc5500;
  border-radius: 10px;
  color: white;
}
.locationCard {
  width: 300px;
  height: 300px;
}
#artBannerTitle {
  color: #fff;
  height: 200px;
  background: url('../images/robots.jpg') center / cover;
}
#artBannerHome {
  width: 100%;
}
#foodBannerTitle {
  background: url('../images/foodbanner.jpg') center / cover;
}
#stoopidDrinkCard {
  background: url('../images/marg.jpeg') center / cover;
}
#foodTruckCard {
  background: url('../images/foodtruck.jpg') center / cover;
}
#ridicFoodCard {
  background: url('../images/bangers.jpg') center / cover;
}
#foodEventsCard {
  background: url('../images/foodevent.jpg') center / cover;
}
#foodBannerHome {
  width: 100%;
}
#actBannerHome {
  width: 100%;
}
#activitiesBannerTitle {
  background: url('../images/party.jpg') center / cover;
}
#natureCard {
  background: url('../images/hippy.jpg') center / cover;
}
#shopsCard {
  background: url('../images/toystore.jpg') center / cover;
}
#partiesCard {
  background: url('../images/eor.jpg') center / cover;
}
#funCard {
  background: url('../images/bike.jpg') center / cover;
}
#graffitiImageCard {
  background: url('../images/graffitipark.jpeg') center / cover;
}
#mixedImageCard {
  background: url('../images/mixed.jpeg') center / cover;
}
#junkImageCard {
  background: url('../images/junkart.jpg') center / cover;
}
#performanceImageCard {
  background: url('../images/performance.jpg') center / cover;
}
.catHomeButton {
  border-width: thin;
  border-color: lightgrey;
  background-color: lightgrey;
}

/*nav*/
.mdl-layout__drawer{
  background-color: #607d8b;
}
.mdl-layout-title{
  color:white ;
}
.mdl-navigation__link{
  color: white !important;
  font-family: 'Enriqueta', serif;

}
.mdl-layout-title{
  color: white;
  font-family: 'Enriqueta', serif;
}
.mdl-layout-title{
  color: white;
  font-family: 'Enriqueta', serif;
}
.mdl-mini-footer__link-list{
  color: white;
  font-family: 'Enriqueta', serif;
}
