material.{blue_grey}-{light_blue}.min.css

.demo-layout-transparent {
    background: url('../assets/demos/transparent.jpg') center / cover;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {

    color: purple;
  }
